@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box
}

body {
  background-color: #dadde6;
  font-family: arial
}

.Booking-Heading {
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.book-card{
  display: flex;
  flex-direction: row;
  width: 45%;
  background-color: #DADDE6;
  margin-bottom: 20px;
}

.date{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 8px white dotted;
  justify-content: center;
  align-items: center;
}

.date img{
  width: 80%;
  height: 80%;
}

.date:before,
.date:after
{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  top: -15px ;
  right: -18px;
  z-index: 1;
  border-radius: 50%
}

.date:after
{
  top: auto;
  bottom: -15px
}

.card-cont{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 15px 25px;
}

.card-cont button{
  margin-left: 10px;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.review-card{
  background-color: rgb(130 35 35);
  color: white;
  font-weight: 600;
}